body {
  background-color: rgb(228, 177, 215);
}

.title {
 color: rgb(240, 176, 247);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que la tarjeta esté centrada verticalmente en la pantalla completa */
  margin: 0;/* Espacio entre la imagen y el contenido de la card */
}